.button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.button, .text-field {
    -fx-pref-height: 2em;
}

.text-field {
    -fx-background-color: transparent;
}

.navigator-bar {
    -fx-spacing: .3em;
    -fx-padding: .5em;
    -fx-alignment: CENTER;
    -fx-border-color: #dadce0;
    -fx-border-width: 0 0 0.08em 0;
    -fx-background-color: #ffffff;
}


.navigator-bar .action-box {
    -fx-spacing: .3em;
    -fx-alignment: CENTER;
}

.navigator-bar .right-box {
    -fx-alignment: CENTER;
    -fx-spacing: .3em;
}

.right-box .input-box {
    -fx-spacing: .3em;
    -fx-alignment: CENTER;
    -fx-border-width: .15em;
    -fx-border-radius: 3em;
    -fx-padding: .1em .5em;
    -fx-background-radius: 3em;
    -fx-border-color: #f1f3f4;
    -fx-background-color: #f1f3f4;
}

.input-box-active {
    -fx-border-color: #4285f4 !important;
}
