.navigator-bar {
    -fx-spacing: .3em;
    -fx-padding: .5em;
    -fx-alignment: CENTER;
    -fx-border-color: #dadce0;
    -fx-border-width: 0 0 0.08em 0;
    -fx-background-color: #ffffff;
}

.action-box .button, .navigator-bar .text-field {
    -fx-pref-height: 2em;
}

.navigator-bar .action-box {
    -fx-spacing: .3em;
    -fx-alignment: CENTER;
}

.action-box .button {
    -fx-padding: 0;
    -fx-background-color: #fff;
}

.navigator-bar .right-box{
    -fx-alignment: CENTER;
    -fx-spacing: .3em;
}

