.bottom-box {
    -fx-padding: .3em;
    -fx-alignment: CENTER;
    -fx-border-color: #dadce0;
    -fx-background-color: #fff;
    -fx-border-width: 0.08em 0 0 0;
}

.tab-pane .tab-header-background {
    -fx-padding: 0;
    -fx-background-color: #dee1e6;
}

.bottom-box{
    -fx-padding: .2em .5em;
}

.bottom-box HBox {
    -fx-spacing: .3em;
    -fx-alignment: CENTER-LEFT;
}

.bottom-box .mem-box {
    -fx-alignment: CENTER;
}

.bottom-box .mem-box .button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}


/*内存占用过高,显示红色进度条*/
.memory-higher .bar {
    -fx-background-color: red;
}